#container{
	margin: auto;
	width: 100px;
}
#index_login{
	display: inline-block;
	position: relative;
	margin: auto;	
}
#index_signup{
	display: inline-block;
	border-color: black;
}
#index_login a{
	text-decoration: none;
}
#index_signup a{
	text-decoration: none;
	margin: auto;
}

